<h1>編集する</h1>

<%= form_for(current_user) do |f| %>
	<div class = "field">
		<%= attachment_image_tag current_user, :profile_image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg", size:'350x350', class: 'img-circle profile-thumb my-img edit-img' %>
		<%= f.attachment_field :profile_image %>
	</div>

	<div class = "field">
		<%= f.label :氏名（漢字） %>
		<%= f.text_field :kanji, autofoucs: true, autocomplete: "off" %>
	</div>

	<div class = "field">
		<%= f.label :氏名（カナ） %>
		<%= f.text_field :kana, autofoucs: true, autocomplete: "off" %>
	</div>

	<div class = "field">
		<%= f.label :ユーザー名 %>
		<%= f.text_field :user_name, autofoucs: true, autocomplete: "off" %>
	</div>

	<div class="field">
    <%= f.label :性別 %><br />
    <%= f.select :sex, [["男性", "男性"], ["女性", "女性"]],  :prompt => "選択してください" %>
  	</div>

	<div class = "field">
		<%= f.label :メールアドレス %>
		<%= f.text_field :email, autofoucs: true, autocomplete: "off" %>
	</div>

	<div class="field">
    	<%= f.label :郵便番号 %><br />
    	<input type="text" name="user[postal_code]" size="10" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','user[address]','user[address]');">
  	</div>

  	<div class="field">
    	<%= f.label :住所 %><br />
    	<input type="text" name="user[address]" size="60">
  	</div>

	<div class = "field">
		<%= f.label :自己紹介 %>
		<%= f.text_area :introduction, autofoucs: true, autocomplete: "off" %>
	</div>

	<div class = "field">
		<%= f.submit "更新" %>
	</div>

<% end %>
