<!-- ログインしているユーザーの詳細ページ（マイページ） -->
<% if @user == current_user %>
	<div class="row space">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1>マイページ</h1>
		</div>
		<div class="col-xs-1"></div>
	</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-4">
		<div class = "user-show1">
			<%= attachment_image_tag current_user, :profile_image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg", size:'350x350', class: 'img-circle profile-thumb my-img edit-img' %>
		</div>
		<div class = "user-show1">
			<%= link_to edit_user_path(current_user) do %>
				<button class="btn btn-info">編集</button>
			<% end %>
		</div>
		<div class = "user-show1">
			<%= link_to new_item_path do %>
				<button class="btn btn-warning">アイテムを登録</button>
			<% end %>
			<%= link_to new_lesson_path do %>
				<button class="btn btn-warning">レッスンを登録</button>
			<% end %>
		</div>
	</div>
	<div class="col-xs-6">
		<div class = "field">
		<%= current_user.kanji %>
		</div>
		<div class = "field">
			<%= current_user.kana %>
		</div>

		<div class = "field">
			<%= current_user.user_name %>
		</div>

		<div class = "field">
			<%= current_user.email %>
		</div>

		<div class = "field">
			<%= current_user.postal_code %>
		</div>

		<div class = "field">
			<%= current_user.address %>
		</div>

		<div class = "field">
			<%= current_user.sex %>
		</div>

		<div class = "field">
			<%= current_user.introduction %>
		</div>
	</div>
	<div class="col-xs-1"></div>
</div>

<!-- ログインしている以外の詳細ページ -->
<% else %>
	<div class="row space">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1><%= @user.user_name %>さん</h1>
		</div>
		<div class="col-xs-1"></div>
	</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-4">
		<div class = "field">
			<%= attachment_image_tag @user, :profile_image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg", size:'350x350', class: 'img-circle profile-thumb my-img edit-img' %>
		</div>
	</div>
	<div class="col-xs-6">
		<div class = "field">
			<p> : <%= @user.sex %></p>
		</div>

		<div class = "field">
			<%= @user.introduction %>
		</div>

		<!-- DM機能のリンク -->
		<% if @isRoom == true %>
			<%= link_to "DMを送る", room_path(@roomId) %>
		<% else %>
			<%= form_for @room do |f| %>
				<%= fields_for @entry do |e| %>
					<!-- コントローラで作られた新しいインスタンス(@entry)のuser_idに@user.idをいれる -->
					<%= e.hidden_field :user_id, :value => @user.id %>
				<% end %>
				<%= f.submit "初めてDMを送る" %>
			<% end %>
		<% end %>
		<!-- DMここまで -->
	</div>
	<div class="col-xs-1"></div>
</div>
<% end %>



