<!-- ログインしているユーザーの詳細ページ（マイページ） -->
<% if @user == current_user %>
	<div class="row space">
		<div class="col-xs-1"></div>
		<div class="col-xs-2">
			<h1>マイページ</h1>
		</div>
		<div class="col-xs-1">
			<p class = "user-show4">
				フォロワー</br>
				<%= @user.followers.count %>
			</p>
		</div>
		<div class="col-xs-1">
			<p class = "user-show4">
				フォロー中</br>
				<%= @user.following.count %>
			</p>
		</div>
		<div class="col-xs-7"></div>
	</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-4">
		<div class = "user-show1">
			<%= attachment_image_tag current_user, :profile_image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg", size:'350x350', class: 'img-circle profile-thumb my-img edit-img' %>
		</div>
		<div class = "user-show1">
			<%= link_to edit_user_path(current_user) do %>
				<button class="btn btn-info">編集</button>
			<% end %>
		</div>
		<div class = "user-show1">
			<%= link_to new_item_path do %>
				<button class="btn btn-warning">アイテムを登録</button>
			<% end %>
			<%= link_to new_lesson_path do %>
				<button class="btn btn-warning">レッスンを登録</button>
			<% end %>
		</div>
	</div>
	<div class="col-xs-6">
		<div class = "field">
			<p>氏名（漢字） : <%= current_user.kanji %></p>
		</div>
		<div class = "field">
			<p>氏名（カナ） : <%= current_user.kana %></p>
		</div>

		<div class = "field">
			<p>ユーザー名 : <%= current_user.user_name %></p>
		</div>

		<div class = "field">
			<p>性別 : <%= current_user.sex %></p>
		</div>

		<div class = "field">
			<p>メールアドレス : <%= current_user.email %></p>
		</div>

		<div class = "field">
			<p>郵便番号 : <%= current_user.postal_code %></p>
		</div>

		<div class = "field">
			<p>住所 : <%= current_user.address %></p>
		</div>

		<div class = "field">
			<%= current_user.introduction %>
		</div>
	</div>
	<div class="col-xs-1"></div>
</div>


<div class="row user-show2">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<h3>参加予定のレッスン</h3>
		<% @user.attendanced_lessons.each do |lesson| %>
			<table class="table">
				<thead>
					<tr>
						<th>レッスン名</th>
						<th>場所</th>
						<th>定員</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><%= lesson.lesson_name %></th>
						<td><%= lesson.location %></td>
						<td><%= lesson.entry_count %></td>
						<td>
							<%= link_to lesson_path(lesson) do %>
								<button class="btn btn-success">詳細</button>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>

<!--いいねしたアイテム-->
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<p>いいねしたアイテム</p>
	</div>
	<div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<% @user.liked_items.each do |item| %>
			<div class = "user-show3">
				<%= link_to item_path(item) do %>
					<%= attachment_image_tag item, :item_image, :fill, 200, 200, format: 'jpeg' %><br>
				<% end %>
				<%= item.item_name %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>



<!-- ログインしている以外の詳細ページ -->
<% else %>
	<div class="row space">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1><%= @user.user_name %>さん</h1>
		</div>
		<div class="col-xs-1"></div>
	</div>

	<div class="row">
		<div class="col-xs-5"></div>
		<div class="col-xs-1">
			<p class = "user-show5">
				フォロワー</br>
				<%= @user.followers.count %>
			</p>
		</div>
		<div class="col-xs-1">
			<p class = "user-show5">
				フォロー中</br>
				<%= @user.following.count %>
			</p>
		</div>
		<div class="col-xs-1">
			<div class = "user-show6">
				<%= render 'follow_form' %>
			</div>
		</div>
		<div class="col-xs-4"></div>
	</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-4">
		<div class = "field">
			<%= attachment_image_tag @user, :profile_image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg", size:'350x350', class: 'img-circle profile-thumb my-img edit-img' %>
		</div>
	</div>
	<div class="col-xs-6">

		<div class = "field">
			<p>性別 : <%= @user.sex %></p>
		</div>

		<div class = "field">
			<%= @user.introduction %>
		</div>

		<!-- DM機能のリンク -->
		<% if @isRoom == true %>
			<%= link_to room_path(@roomId) do %>
				<div class = "user-show2">
					<button class="btn btn-info">DMを送る</button>
				</div>
			<% end %>
		<% else %>
			<%= form_for @room do |f| %>
				<%= fields_for @entry do |e| %>
					<!-- コントローラで作られた新しいインスタンス(@entry)のuser_idに@user.idをいれる -->
					<%= e.hidden_field :user_id, :value => @user.id %>
				<% end %>
				<div class = "user-show2">
					<%= f.submit "初めてDMを送る", :class => "btn btn-info" %>
				</div>
			<% end %>
		<% end %>
		<!-- DMここまで -->
	</div>
	<div class="col-xs-1"></div>
</div>

<div class="row user-show2">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<h3>参加予定のレッスン</h3>
		<% @user.attendanced_lessons.each do |lesson| %>
			<table class="table">
				<thead>
					<tr>
						<th>レッスン名</th>
						<th>場所</th>
						<th>定員</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><%= lesson.lesson_name %></th>
						<td><%= lesson.location %></td>
						<td><%= lesson.entry_count %></td>
						<td>
							<%= link_to lesson_path(lesson) do %>
								<button class="btn btn-success">詳細</button>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>
<% end %>
