<div class="row space">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
  	<h1>アイテムを編集</h1>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-4 item-edit1">
		<%= form_for(@item) do |f| %>
			<div class = "field">
				<%= attachment_image_tag @item, :item_image, :fill, 300, 300, format: 'jpeg' %>
				<%= f.attachment_field :item_image %>
			</div>
	</div>
	<div class="col-xs-6">
			<div class = "field">
				<%= f.label :アイテム名 %><br />
				<%= f.text_field :item_name, autofocus: true, autocomplete: "off", :size => "50" %>
			</div>

			<div class = "field">
				<%= f.label :カテゴリー名 %><br />
				<%= f.select :category_name, [["ラケット", "ラケット"], ["ストリング", "ストリング"], ["雑貨", "雑貨"], ["その他", "その他"]],  :prompt => "選択してください" %>
			</div>

			<div class = "field">
				<%= f.label :長さ %><br />
				<p><%= f.text_field :length, autofocus: true, autocomplete: "off" %>mm</p>
			</div>

			<div class = "field">
				<%= f.label :重さ %><br />
				<p><%= f.text_field :weight, autofocus: true, autocomplete: "off" %>g</p>
			</div>

			<div class = "field">
				<%= f.label :グリップ %><br />
				<%= f.text_field :grip, autofocus: true, autocomplete: "off" %>
			</div>

			<div class = "field">
				<%= f.label :フェイス %><br />
				<p><%= f.text_field :face, autofocus: true, autocomplete: "off" %>inch</p>
			</div>

			<div class = "field">
				<%= f.label :カラー %><br />
				<%= f.text_field :color, autofocus: true, autocomplete: "off" %>
			</div>

			<div class = "field">
				<%= f.label :概要 %><br />
				<%= f.text_area :body, autofocus: true, autocomplete: "off", :size => "100" %>
			</div>

			<div class = "field">
				<%= f.submit "登録する", class: "btn btn-success" %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>



<div class="row item-edit1">
	<div class="col-xs-"></div>
	<div class="col-xs-"></div>
	<div class="col-xs-"></div>
</div>



