<div class="row space">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="btn-warning"><%= link_to "販売中のアイテム一覧", root_path %></li>
			<li role="presentation"><%= link_to "販売済みのアイテム一覧", purchase_index_path %></li>
		</ul>
	</div>
	<div class="col-xs-1"></div>
</div>


<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
  	<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>アイテム名</th>
			<th>カラー</th>
			<th></th>
		</tr>
	</thead>
	<% @items.each do |item| %>
	<% if item.purchase == true %>
	<tbody>
		<tr>
			<th><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg' %></th>
			<td><%= item.item_name %></td>
			<td><%= item.color %></td>
			<td>
				<%= link_to item_path(item) do %>
					<button class="btn btn-success">詳細</button>
				<% end %>
			</td>
		</tr>
	</tbody>
	<% end %>
	<% end %>
</table>
  </div>
  <div class="col-xs-1"></div>
</div>
