<div class="row space">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<h1>アイテム詳細</h1>
	</div>
	<div class="col-xs-1"></div>
</div>


<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-4 item-index1">
		<div class = "field">
			<%= attachment_image_tag @item, :item_image, :fill, 300, 300, format: 'jpeg' %>
		</div>
		<div class = "item-index2">
			<% if @item.user == current_user %>
				<%= link_to "編集", edit_item_path(@item), class: "btn btn-info" %>
				<%= link_to "削除", item_path(@item), method: :delete, "data-confirm" => "削除してもよろしいでしょうか？", class: "btn btn-danger" %>
				<!--いいね機能-->
				<%= link_to @item.likes.count, liked_users_path(@item) %>人がいいねをしています
				<% if current_user.already_liked?(@item) %>
					<%= button_to "いいねを取り消す", item_like_path(@item), method: :delete %>
				<% else %>
					<%= button_to "いいね", item_likes_path(@item) %>
				<% end %>
			<% else %>
				<% if @item.purchase == true %>
					<p class = "item-index3">SOLDOUT!!</p>
					<!--いいね機能-->
					<%= link_to @item.likes.count, liked_users_path(@item) %>人がいいねをしています
					<% if current_user.already_liked?(@item) %>
						<%= button_to "いいねを取り消す", item_like_path(@item), method: :delete %>
					<% else %>
						<%= button_to "いいね", item_likes_path(@item) %>
					<% end %>
					<% else %>
						<%= link_to "購入画面へ進む", purchase_path(@item), class: "btn btn-info" %>
						<!--いいね機能-->
						<%= link_to @item.likes.count, liked_users_path(@item) %>人がいいねをしています
						<% if current_user.already_liked?(@item) %>
							<%= button_to "いいねを取り消す", item_like_path(@item), method: :delete %>
						<% else %>
							<%= button_to "いいね", item_likes_path(@item) %>
						<% end %>
					<% end %>
			<% end %>
		</div>
	</div>
	<div class="col-xs-6">
		<div class = "field">
			<p>アイテム : <%= @item.item_name %></p>
		</div>

		<div class = "field">
			<p>カテゴリー : <%= @item.category_name %></p>
		</div>

		<div class = "field">
			<p>長さ : <%= @item.length %></p>
		</div>

		<div class = "field">
			<p>ウエイト : <%= @item.weight %>g</p>
		</div>

		<div class = "field">
			<p>グリップ : <%= @item.grip %></p>
		</div>

		<div class = "field">
			<p>フェイス : <%= @item.face %>inch</p>
		</div>

		<div class = "field">
			<p>カラー : <%= @item.color %></p>
		</div>

		<div class = "field">
			<p><%= @item.price %>円</p>
		</div>

		<div class = "field">
			<p>在庫 : <%= @item.stock %></p>
		</div>

		<div class = "field">
			<%= @item.body %>
		</div>
	</div>
	<div class="col-xs-1"></div>
</div>





