<!DOCTYPE html>
<html>
  <head>
    <title>TW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- 住所の自動入力 -->
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
  </head>

  <body>
    <!-- ヘッダー -->
    <!-- ログイン時 -->
    <% if user_signed_in? %>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              TENNIS・WORLD
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbarEexample8">
            <ul class="nav navbar-nav">
              <li><%= link_to "アイテム一覧", root_path %></li>
              <li class="active"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "ユーザー一覧", users_path %></a></li>
            </ul>
            <p class="navbar-text navbar-right">ようこそ <%= current_user.user_name %> さん。</p>
          </div>
        </div>
      </nav>
    <% else %>
    <!--未ログイン時 -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              TENNIS・WORLD
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbarEexample8">
            <ul class="nav navbar-nav">
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li class="active"><%= link_to "ログイン", new_user_session_path %></li>
              <li><a href="#">メニューＣ</a></li>
            </ul>
            <p class="navbar-text navbar-right">ようこそ  ゲスト さん。</p>
          </div>
        </div>
      </nav>
    <% end %>

    <div class = "success-message">
      <%= flash[:success] %>
    </div>

    <%= yield %>
  </body>
</html>
